- var name = 'ExN'
doctype html
html
  head
    title Example
    include exclude/fontface.pug
    style
      include ../node_modules/bootstrap/dist/css/bootstrap-grid.min.css
  body
    h1 Webpack 4 PUG/SASS config by #{name}